$bodySize: 600px;
$font: Arial, Helvetica, sans-serif;

$colors:(
    primaryColor-1:rgb(223, 182, 217),
    primaryColor-2: #b31390,
    primaryColor-3: rgb(172, 70, 150),
    primaryColor-4: rgb(194, 55, 194),
);

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin flex-with-grow($grow, $height) {
    display: flex;
    flex-grow: $grow;
    height: $height;
}

@mixin flex-with-size($width, $height) {
    display: flex;
    width: $width;
    height: $height;
}

@mixin animation($name) {
    animation-duration: 2s;
    animation-name: $name;
    animation-iteration-count: infinite;
}

* {
   @include reset
}

body {
    background-color: map-get($colors, primaryColor-1);
    font-family: $font;
    }

header {
    width: 100%;
    grid-area: header;
}

.container {
    display: grid;
    grid-template-rows: 150px $bodySize 40px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.header__principal {
    @include flex-with-size(100%, 70%);

    justify-content: space-between;
    background-image: url("../imagenes/fondo.jpeg");
    border-bottom: 3px solid map-get($colors, primaryColor-2);

    .header__principal__logo {
        @include flex-with-grow(1, 100%);

        h1 {
            flex-grow: 1;
            font-size: 70px;
            font-weight: bold;
            font-style: italic;
            color: map-get($colors, primaryColor-3);
            padding: 10px;
            text-align: center;
        }
    }

    .header__principal__buscador {
        @include flex-with-grow(2, 100%);
        align-items: center;

        input {
            justify-items: center;
            width: 100%;
        }
    }

    .header__principal__contacto {
        @include flex-with-grow(1, 100%);
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}


.nav_item {
    display: none;
}

.carrito_de_compras{
   @extend .nav_item;
    background-color: map-get($colors, primaryColor-1);
}

.btn {
    background-color: map-get($colors, primaryColor-1);
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    transition: .5s;

    &:hover {
        background-color: map-get($colors, primaryColor-2);
    }
}

.header__secundario {
    width: 100%;
    height: 30%;

    .header__secundario__nav {
        font-size: 15px;
        color: map-get($colors, primaryColor-3);
        padding: 10px;
        border-bottom: 3px solid map-get($colors, primaryColor-2);
        text-align: center;

        li {
            display: inline;
            padding: 15px;
            margin-right: 10%;
        }
    }
}

.main {
    width: 100%;
    grid-area: main;
}

.slider {
    display: none;
}

.main__productos {
    @include flex-with-size(100%, auto);

    border-bottom: 3px solid map-get($colors, primaryColor-2);
    padding: 5px;
    justify-content: center;

    .main__productos__producto {
        margin: 10px;
        width: 20%;
        display: inline-block;
        margin-right: 10px;

        img {
            height: 200px;
            background-color: white;
            object-fit: contain;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            color: map-get($colors, primaryColor-4);
        }
    }
}

.main__destacados {
    margin-top: 3%;
    @include flex-with-size(100%, auto);

    .main__destacados__destacado1 {
        margin: 10px;
        @include flex-with-grow(1, auto);
        @include animation(parpadear);
        
        align-items: center;
        font-size: 24px;
        font-family: "Arial";
        text-align: center;
        justify-content: center;

    }

    .main__destacados__destacado {
        margin: 10px;
        display: inline-block;
        margin-right: 10px;
        flex-grow: 1;

        img {
            height: 200px;
            background-color: white;
            width: 200px;
            object-fit: contain;
        }
        
        p {
            font-size: 15px;
            font-weight: bold;
            color: map-get($colors, primaryColor-4);
        }


    }
}


@keyframes parpadear {
        0% {
          font-size: 20px;
          color: map-get($colors, primaryColor-3);
        }
        100% {
          font-size: 24px;
          color: map-get($colors, primaryColor-4);
          background-color: map-get($colors, primaryColor-1);
        }
     }


footer {
    width: 100%;
    height: 40px; 
    grid-area: footer;
    text-align: center;
    border-top: 3px solid map-get($colors, primaryColor-4);
    padding-top: 15px;

    .footer__nav { 
        font-size: 15px;
        color: rgb(172, 70, 150);

        li {
            display: inline;
            margin-right: 10%;
        }
    }
}


.titulo_mobile {
    display: none;
}

.whatsapp_logo {
    display: none;
}
