$bodySize: 600px;
$font: Arial, Helvetica, sans-serif;

$colors:(
    primaryColor-1:rgb(223, 182, 217),
    primaryColor-2: #b31390,
    primaryColor-3: rgb(172, 70, 150),
    primaryColor-4: rgb(194, 55, 194),
);

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin animation($name) {
    animation-duration: 2s;
    animation-name: $name;
    animation-iteration-count: infinite;
}

* {
   @include reset
}

body {
    background-color: #fcfcfc;
    font-family: $font;
    }

header {
    width: 100%;
}

.main__container {
    @include reset;
}

.header__principal {
    box-shadow: 1px 5px 5px #e1e1e1;
    margin-bottom: 13px;
}

    .header__principal__logo {
        @include reset;
        h1 {
            font-size: 3rem;
            font-weight: bold;
            font-style: italic;
            color: map-get($colors, primaryColor-3);
            padding: 10px;
            text-align: center;
        }
    }

    .header__principal__buscador {
        align-items: center;

        input {
            justify-items: center;
            width: 100%;
        }
    }

    .header__principal__contacto {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
    }


.nav_item {
    display: none;
}

.carrito_de_compras{
   @extend .nav_item;
    background-color: map-get($colors, primaryColor-1);
}

.btn {
    background-color: map-get($colors, primaryColor-1);
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    transition: .5s;
    min-width: 105px;

    &:hover {
        background-color: map-get($colors, primaryColor-2);
    }
}

.header__secundario {
    background-color: #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 25px;

    width: 100%;
    height: 30%;

    .header__secundario__nav {
        font-size: 15px;
        color: #ac4696;
        padding: 10px;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 4px;
        margin-bottom: 10px;
        li {
            display: inline;
            padding: 15px;
        }
    }
}

.main {
    width: 100%;
}

.slider {
    display: none;
}

.producto {
    min-width: 290px;
    width: 100%;
    background: white;
    border: 1px solid #F0F0F0;
    display: inline-block;
    transition: .5s all;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.1);
    }

    .producto__imagen {
        text-align: center;

        img {
            height: 200px;
            background-color: white;
            object-fit: contain;
        }
    }

    .producto__descripcion {
        .name {
            text-align: center;
            font-size: 15px;
            font-weight: 100;
            color: #753867;
        }

        .price {
            text-align: center;
            font-size: 24px;
            color: #814a75;
            margin: 0;
            font-weight: bold;
        }

    }

}

.main__destacados {
    margin-bottom: 55px;
}

.main__destacados__title {
    font-size: 18px;
}


@keyframes parpadear {
        0% {
          font-size: 20px;
          color: map-get($colors, primaryColor-3);
        }
        100% {
          font-size: 24px;
          color: map-get($colors, primaryColor-4);
          background-color: map-get($colors, primaryColor-1);
        }
     }


footer {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    background: #ffffff;
    height: 100%;
    box-shadow: 0px 0px 15px #f4f4f4;

    .footer__nav {

        font-size: 15px;
        color: #ac4696;
        padding: 10px;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 4px;
        margin-bottom: 10px;
        height: 100%;

        li {
            display: inline;
            padding:15px
        }
    }
}


.whatsapp_logo {
    display: none;
}


.slider {
    display: none;
}

@keyframes parpadear {
    0% {
        font-size: 20px;
        color: rgb(156, 52, 156)
    }
    100% {
        font-size: 24px;
        color: rgb(204, 28, 180);
        background-color: rgb(224, 188, 219);
    }
}


.titulo_mobile {
    display: none;
}

.whatsapp_logo {
    display: none;
}

/* CONTACTOS */

.main__contacto {
    margin-top: 10px;
}

.main__imagen {
    width: 100%;
    height: 190px;
    background-image: url("../imagenes/banner_4.jpeg");
    background-size: cover;
}


.main__contacto__informacion {
    padding-top: 50px;
    .main__contacto__titulo {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .main__contacto__contacto {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;

        p {
            text-align: center;
        }

        .main__contacto__contacto__mail {
            padding-top: 10px;
            text-align: center;
        }
    }

    .main__contacto__subtitulo {
        h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 13px;
        }
    }
}



#formulario {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 65px;
    .enviar:hover {
        background-color: rgb(206, 154, 183);
    }
}

/* INFORMACION */

.informacion__sucursales {
    padding: 10px;
    text-align: left;

    .informacion__gba {
        padding: 5px;
        h3 {
            font-weight: bolder;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        p {
            margin-bottom: 25px;
        }

    }

    .informacion__caba {
        padding: 5px;
        p {
            margin-bottom: 25px;
        }
        h3 {
            font-weight: bolder;
            margin-bottom: 10px;
            margin-top: 10px;
        }

    }
}

.informacion__pago {
    margin-bottom: 2%;
    .informacion__pago__titulo h2 {
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .informacion__pago__subtitulos {
        padding: 5px;
        .informacion__pago__efectivo {
            h3 {
            margin-bottom: 2%;
            }
        }
        .informacion__pago__transf {
            margin-top: 10px;
            margin-bottom: 10px;
            h3 {
                margin-bottom: 2%;
            }
        }
        .informacion__pago__mp {
            margin-bottom: 2%;

            h3 {
                margin-bottom: 2%;
            }
        }
    }
}

/* PRODUCTOS */

.titulo_mobile_productos {
    display: none;
}

.checkbox_container {
    padding: 2%;
    margin-top: 35px;
}

.checkbox {
    border: 3px pink solid;
    padding: 10px;
    min-height: 400px;
}

.productos {
    padding: 2%;
    flex-grow: 10;
}

.productos__perros {
    margin-bottom: 30px;
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* SERVICIOS */

.servicios__main__titulo {
    h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.servicios__lista {
    padding: revert;
}

.servicios__main__titulo2
{
    h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: justify;
    }
}

.servicios__imagen  {
    text-align: center;
    img {
        width: 15%;
        text-align: center;
    }
}

.servicios__lista {
    list-style: none;
}

@media (min-width: 770px) {
    .header__secundario  {
        display: block !important;
    }
}

@media (max-width: 770px) {
     .header__principal__contacto{
         display: none;
     }

    .header__principal__buscador{
        margin-top: 10px;
    }

    .header__secundario__nav {
        li {
                display: block;
                margin: 0 0 5px 0 !important;
            a {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    .header__container {
        margin: 0;
        padding: 10px;
        width: 100%;
        max-width: none;
    }

    .nav_item {
        display: block;
        width: 70px;
        height: 50px;
    }
    .carrito_de_compras {
        display: block;
        width: 50px;
        height: 50px;
    }

    .producto {
        margin-bottom: 15px;
    }

    footer {
        display: none;
    }
}

