* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(226, 171, 219);
    }

header {
    width: 100%;
    grid-area: header;
}

.container {
    display: grid;
    grid-template-rows: 150px 600px 40px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.header__principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    background-image: url("../imagenes/fondo.jpeg");
    border-bottom: 3px solid #b31390;
}

.header__principal__logo {
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.nav_item {
    display: none;
}

.carrito_de_compras{
    display: none;
}

.header__principal__logo h1 {
    flex-grow: 1;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    color: rgb(172, 70, 150);
    padding: 10px;
    text-align: center;
}

.header__principal__buscador {
    height: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.header__principal__buscador input {
    justify-items: center;
    width: 100%;
}

.header__principal__contacto {
    height: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__secundario {
    width: 100%;
    height: 30%;
}

.header__secundario__nav {
    font-size: 15px;
    color: rgb(172, 70, 150);
    padding: 10px;
    border-bottom: 3px solid #b31390;
    text-align: center;
}

.header__secundario__nav li {
    display: inline;
    padding: 15px;
    margin-right: 10%;
}

.main {
    width: 100%;
    grid-area: main;
}

.slider {
    display: none;
}

.main__productos {
    width: 100%;
    border-bottom: 3px solid #b31390;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.main__productos__producto {
    margin: 10px;
    width: 20%;
    display: inline-block;
    margin-right: 10px;
}

.main__productos__producto img {
    height: 200px;
    background-color: white;
    object-fit: contain;
}

.main__productos__producto p{
 font-size: 15px;
 font-weight: bold;
 color: rgb(194, 55, 194);

}

.main__destacados {
    width: 100%;
    margin-top: 3%;
    display: flex;
}

.main__destacados__destacado1 {
    margin: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: "Arial";
    text-align: center;
    justify-content: center;
}

.main__destacados__destacado {
    margin: 10px;
    display: inline-block;
    margin-right: 10px;
    flex-grow: 1;
}

.main__destacados__destacado img {
    height: 200px;
    background-color: white;
    width: 200px;
    object-fit: contain;
}

.main__destacados__destacado p{
    font-size: 15px;
    font-weight: bold;
    color: rgb(194, 55, 194);
}

footer {
    width: 100%;
    height: 40px; 
    grid-area: footer;
    text-align: center;
}

.footer__nav { 
    font-size: 15px;
    color: rgb(172, 70, 150);
    padding-top: 5px;
    border-top: 3px solid #b31390;
}

.footer__nav li{
    display: inline;
    margin-right: 10%;
}

.titulo_mobile {
    display: none;
}

.whatsapp_logo {
    display: none;
}

/* CONTACTOS */

.titulo_mobile_contacto {
    display: none;
}

.container_contacto {
    display: grid;
    grid-template-rows: 150px 190px 600px 40px;
    grid-template-areas: 
    "header"
    "img"
    "main"
    "footer"
    ;
}

.main__contacto {
    width: 30%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
}

.main__imagen {
    width: 100%;
    height: 190px;
    background-image: url("../imagenes/banner_4.jpeg");
    background-size: cover;
    border-bottom: 3px solid #b31390;
    grid-area: img;
}

.main__imagen img{
    width: 100%;
    height: 100%;
}

.main__contacto__titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.main__contacto__contacto {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.main__contacto__contacto p {
    text-align: center;
}

.main__contacto__contacto__mail {
    padding-top: 10px;
    text-align: center;
}

.main__contacto__subtitulo h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
}

#formulario {
    width: 30%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
}


/* INFORMACION */

.titulo_mobile_informacion {
    display: none;
}

.main__informacion {
    grid-area: main-informacion;
}

.main__informacion h2 {
    font-size: 50px;
    font-weight: bold;
    color: violet;
    font-style: italic;
    margin-bottom: 2px;
    margin-top: 2px;
}

.container_informacion {
    display: grid;
    grid-template-rows: 150px 800px 40px;
    grid-template-areas: 
    "header"
    "main-informacion"
    "footer"
    ;
}

.informacion__sucursales {
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.informacion__gba {
    padding: 5px;
}

.informacion__gba h3 {
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.informacion__gba p {
    margin-bottom: 25px;
}
.informacion__caba p {
    margin-bottom: 25px;
}

.informacion__caba {
    padding: 5px;
}

.informacion__caba h3 {
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.informacion__pago {
    padding: 11px;
    margin-bottom: 2%;
    width: 500px;
}

.informacion__pago__titulo {
    padding: 1%;
    margin-bottom: 5px;    
    margin-bottom: 2%;
}

.informacion__pago__titulo h2 {
    font-weight: bolder;
    margin-bottom: 10px;
}

.informacion__pago__subtitulos {
    padding: 5px;
}

.informacion__pago__efectivo {
    margin-bottom: 2%;
    margin-top: 2%;
}

.informacion__pago__efectivo h3 {
    margin-bottom: 2%;
    margin-top: 2%;
}

.informacion__pago__transf {
    margin-top: 10px;
    margin-bottom: 10px;
}

.informacion__pago__transf h3 {
    margin-bottom: 2%;
    margin-top: 2%;
}

.informacion__pago__mp {
    margin-bottom: 2%;
}

.informacion__pago__mp h3 {
    margin-bottom: 2%;
    margin-top: 2%;
}



/* PRODUCTOS */

.titulo_mobile_productos {
    display: none;
}

.container_producto{ 
    display: grid;
    grid-template-rows: 150px 1000px 40px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.main_producto {
    display: flex;
}


.checkbox_container {
    padding: 2%;
    flex-grow: 2;
    margin-top: 35px;
}

.checkbox {
    border: 3px pink solid;
    padding: 10px;
    min-height: 400px;
}

.productos {
    padding: 2%;
    flex-grow: 10;
}

.productos__perros {
    width: 50%;
    margin-bottom: 30px;
}

.articulos__perros{
    display: flex;
    justify-content: space-between;
}

.productos__perros h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos__perros__articulo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.productos__perros__articulo img,
.productos__gatos__articulo img {
    height: 250px;
    object-fit: contain;
    background-color: white;
}

.productos__perros__articulo h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 45px;
}

.productos__perros__articulo p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.productos__gatos {
    width: 50%;
    margin-bottom: 30px;
}

.articulos__gatos {
    display: flex;
    justify-content: space-between;

}

.productos__gatos h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos__gatos__articulo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px
}

.productos__gatos__articulo h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos__gatos__articulo p {
    margin-top: 10px;
    margin-bottom: 10px;
}




/* SERVICIOS */

.titulo_mobile_servicios {
    display: none;
}

.container_servicios {
    display: grid;
    grid-template-rows: 150px 800px 40px;
    grid-template-areas: 
    "header"
    "servicios-main"
    "footer"
    ;
}

.servicios__main {
    margin-top: 10px;   
    margin: 30px;
    grid-area: servicios-main;
}

.servicios__main__titulo h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.servicios__main__titulo h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.servicios__lista {
    padding: revert;
}

.servicios__main__titulo2 h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.servicios__main__titulo2 p {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: justify;
}

.servicios__imagen img {
    width: 15%;
    text-align: center;
}

.servicios__imagen  {
    text-align: center;
}

.servicios__lista {
    list-style: none;
}


/* MEDIA QUERIES */
/* smartphone */
/* index */

@media (max-width: 480px) {
/* index */
    .header__principal {
        flex-direction: column;
        height: 100%;
    }
    .header__principal__contacto {
        display: none;
    }
    .header__principal__buscador {
        margin: auto;
        width: 90%;
    }
    .header__secundario {
        display: none;
    }
    .nav_item {
        display: block;
        width: 70px;
        height: 50px;
        margin-left: 70px;
        margin-top: 30px;
    }
    .carrito_de_compras {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 70px;
        margin-top: 30px;
    }
    .slider {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .main__productos {
        display: none;
    }
    .main__destacados__destacado1 {
        display: none;
    }
    .footer__nav {
        display: none;
    }
    .whatsapp_logo {
        display: block;
        width: 40px;
        height: 40px;
        display: inline;
    }
    .titulo_mobile {
        text-align: left;
        display: block;
    }
    footer {
        text-align: right;
    }
    .container {
        grid-template-rows: 150px 720px 40px;
    }
/* Poductos */
    .productos__perros h2 {
        display: none;
    }
    .productos__gatos h2 {
        display: none;
    }
    .titulo_mobile_productos {
        display: block;
    }
    .productos__perros__articulo {
        padding: 5px;
    }
    .productos__gatos__articulo {
        padding: 5px;
    }
    .container_producto {
        grid-template-rows: 150px 900px 40px
    }
/* informacion */
   .informacion__sucursales {
       display: block;
   }
   .titulo_mobile_informacion {
       display: block;   
       grid-area: breadcumb;
       padding: 15px;
   }
   .container_informacion {
        display: grid;
        grid-template-rows: 150px 60px 880px 40px;
        grid-template-areas: 
        "header"
        "breadcumb"
        "main-informacion"
        "footer"
    ;}
 /* servicios */
    .container_servicios {
        grid-template-rows: 152px 37px 685px 40px;
        display: grid;
        grid-template-areas: 
        "header"
        "breadcumb"
        "servicios-main"
        "footer"
  }
  .titulo_mobile_servicios {
      display: block;
      padding: 20px;
  }
/* contactos */
    .titulo_mobile_contacto {
        display: block;
        padding: 20px;
    }
    .container_contacto{
        grid-template-rows: 150px 45px 760px 40px;
        grid-template-areas:
        "header"
        "img"
        "main"
        "footer";
        display: grid;
    }
    .main__imagen {
        background-size: initial;
        background-position-x: -380px;
    }
    .main__contacto {
        width: 100%;
    }
   





    }